%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Evolution | La evolucion en recurso humano
    %link{rel:"stylesheet", href:"style.css"}
    %meta{name:"description", content:"Evoluciona con nosotros como el mejor recurso humano de la era moderna."}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %p#message Parece que no pudimos conectarnos a internet
    .container
      %h1 Evolution Headhunting
      %p
        %strong Dirección
        Av. Paseo de la reforma 625 Torre Lexus
      %p
        %strong Correo
        contacto@evolution.com.mx
      %p
        %strong Telefono
        234567890
      #map
        %img{src:"map.png"}
